<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Startup>
    <Application type="overseer" />
    <DbConnection type="mock" string="" />
    <SvtExecutable path="" />
    <FfmpegExecutable path="" />
  </Startup>
  <Running>
    <MaxJobs num="" />
    <ProcessedBucket path="" />
    <ActiveBucket path="" />
    <CompletedBucket path="" />
    <LogFile path="" />
  </Running>
  <Defaults>
    <MaxJobs nums="" />
    <ProcessedBucket path="" />
    <ActiveBucket path="" />
    <CompletedBucket path="" />
    <LogFile path="" />
  </Defaults>
  </configuration>