<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Local>
    <DbConnection type="mock" string="" />
    <MaxJobs num="" />
    <ProcessedBucket path="" />
    <ActiveBucket path="" />
    <CompletedBucket path="" />
    <FailedBucket path="" />
    <LogFile path="" />
    <InputBucket path="" />
    <FailedBucket path="" />
    <DefaultEncoder type="" />
    <IntervalTime seconds="" />
  </Local>
</configuration>