<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Startup>
    <Application type="ingester" />
    <DbConnection type="mock" string="" />
  </Startup>
  <Running>
    <InputBucket path="" />
    <ProcessedBucket path="" />
    <LogFile path="" />
  </Running>
  <Defaults>
    <InputBucket path="" />
    <ProcessedBucket path="" />
    <LogFile path="" />
  </Defaults>
</configuration>